{#src/APProjet4/BookingBundle/Resources/views/Booking/contactDetails.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}

{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="cold-lg-12">
                    <h1>BILLETTERIE</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block APProjet4Booking_body %}
    <nav>
        <ul class="progress-indicator">
            <li class="completed"><span class="bubble"></span><a href="#0">Réservation</a></li>
            <li class="completed"><span class="bubble"></span><a href="#0">Coordonnées</a></li>
            <li><span class="bubble"></span><a href="#0">Paiement</a></li>
            <li><span class="bubble"></span><a href="#0">Confirmation</a></li>
        </ul>
    </nav>
    <div class="container form">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h2>{{event.title}}</h2> 
                <p style="text-align:center">Visite du : {{ app.session.get('visitDate')|date('d/m/Y')}} - 
                    <span id="fullDay">BILLET JOURNEE</span>
                    <span id="halfDay">BILLET DEMI-JOURNEE</span></p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                {#{% for ticket in tickets%}#}
                {{include("APProjet4BookingBundle:Booking:form1.html.twig")}}
                {#{% endfor %}#}
            </div>
        </div>
        <div class ="row">
            <div class="col-lg-12 col-md-12 col-xs-12 ">
                <button type="submit" id="envoi" class="button2">Finaliser votre commande</button>
                <p>Vous pourrez continuer vos achat après confirmation</p>
            </div>
        </div>
        <hr>
        <div class ="row pull-left">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <a href="{{path('approjet4_booking_index')}}"><button class="btn draw-border">Retour à l'accueil</button></a>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script>//On indique si le visiteur a choisi un billet journée ou demi-journée
            if ({{fullDay}} == true){
                $("#fullDay").show();
                $("#halfDay").hide();
            }
            if ({{fullDay}} == false){
                $("#fullDay").hide();
                $("#halfDay").show();
            }
        </script>
        <script>//Affichage des tarifs journée ou demi-journée
            if ({{fullDay}} == true){
                $(".full").show();
                $(".half").hide();
            } else{
                $(".full").hide();
                $(".half").show();
            }
        </script>
        <script>//Messages info
            $("#alert-target").click(function () {
            toastr["info"]("");
            });
        </script>

        <script>
            
           $(document).ready(function (e) {
               var nbTickets = document.getElementsByClassName("ticket").length;
              
               console.log(nbTickets - "1");
               
               }
           );
           </script>
       
        <script>
            var url_post_type = "{{path('approjet4_booking_contactDetails')}}";
            var url_recap = "{{path('approjet4_booking_showRecap')}}";
            
            function submitForm(details) {
                
                //TO DO : Pour chaque ticket (foreach et enregistrer en tableau)
                    var fareType = $(".form-check-input:checked").val();
                    var lastname = $("#lastname").val();
                    var firstname = $("#firstname").val();
                    var dateOfBirth = $("#dateOfBirth").val();
                    var country = $("#country").val();
                    var nbTickets = document.getElementsByClassName("ticket").length;
                    
                $.ajax({
                type: "POST",
                        url: "{{ url('approjet4_booking_contactDetails') }}",
                        // Qu'est-ce que tu m'a dit au sujet de data? 
                        data: "fareType=" + fareType + "&firstname=" + firstname + "&lastname=" + lastname + "&dateOfBirth=" + dateOfBirth + "&country=" + country + "&nbTickets" + nbTickets,
                        success: function(response){
                        if (response.success){
                        document.location = url_recap;
                        } else {
                        toastr.warning('Merci de renseigner tous les champs.', '', {positionClass: "toast-top-center"});
                        }
                        }});
                };

            $(document).ready(function (e) {
                if ($('#envoi').click(function () {
                    if (!$(".form-check-input").val() || !$("#lastname").val() || !$("#firstname").val() || !$("#dateOfBirth").val() || !$("#country").val()){
                        toastr.warning('Merci de renseigner tous les champs.', '', {positionClass: "toast-top-center"});
                    } else {
                        submitForm(true);
                    };
                }));
            });
        </script>
        
        {#<script>
        $('#envoi").click(function(e){
            e.preventDefault(); // on annule la fonction par défaut du bouton d'envoi
    
            // puis on lance la fonction de vérification sur tous les champs :
            verify($firstname);
            verify($lastname);
            verify($dateOfBirth);
            verify($country);
        });
        
        }
        });
        </script>#}


    {% endblock %}
{% endblock %}

