{#src/APProjet4/BookingBundle/Resources/views/Booking/contactDetails.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}

{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{'banner.title'|trans}}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block APProjet4Booking_body %}
    <nav>
        <ul class="progress-indicator">
            <li class="completed"><span class="bubble"></span><a href="#0">{{'nav.progress.step1'|trans}}</a></li>
            <li class="completed"><span class="bubble"></span><a href="#0">{{'nav.progress.step2'|trans}}</a></li>
            <li><span class="bubble"></span><a href="#0">{{'nav.progress.step3'|trans}}</a></li>
            <li><span class="bubble"></span><a href="#0">{{'nav.progress.step4'|trans}}</a></li>
        </ul>
    </nav>
    <div class="container form">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                {% if app.request.locale == 'fr' %}
                    <h2>{{event.title}}</h2>
                {% endif %}
                {% if app.request.locale == 'en' %}
                    <h2>{{event.titleEn}}</h2>
                {% endif %} 
                <p style="text-align:center; font-size: 18px;">{{'recap.visitDate'|trans}} : {{ app.session.get('visitDate')|date('d-m-Y')}} | 
                    {% if app.request.locale == 'fr' %}
                        {{booking.fullDay?'BILLET JOURNEE':'BILLET DEMI-JOURNEE'}}
                    {% endif %}
                    {% if app.request.locale == 'en' %}
                        {{booking.fullDay?'DAY TICKET':'HALF-DAY TICKET'}}
                    {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12" >
                {% include("APProjet4BookingBundle:Booking:detailsForm.html.twig") %}
            </div>
        </div>
        <div class ="row">
            <div class="col-lg-12 col-md-12 col-xs-12 ">
                <button type="submit" id="envoi" class="button2">{{'contactDetails.submit'|trans}}</button>
            </div>
        </div>
        <hr>
        <div class ="row pull-left">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <a href="{{path('approjet4_booking_index')}}"><button class="btn draw-border">{{'button.backToHome'|trans}}</button></a>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script>//Display of day or half-day rates
            {{booking.fullDay?'$(".full").show();$(".half").hide();':'$(".full").hide();$(".half").show();'}}
        </script>
        <script>//Messages info
            $("#alert-target").click(function () {
            toastr["info"]("");
            });
        </script>
        <script>//Form validation
            
            var url_post_type = "{{path('approjet4_booking_postContactDetails')}}";
            var url_recap = "{{path('approjet4_booking_showRecap')}}";
            var visitDate = '{{ app.session.get('visitDate')}}';
            var dateFormat = "Y-M-D";
            
            /**
             * We check the correspondence between the chosen tariff and the date of birth
             * @param {string} fareType
             * @param {string} dateOfBirth
             * @returns {Boolean}             
             */   
             function checkAgeAndFare(fareType, dateOfBirth){
                 switch (fareType) {
                     case 'child': 
                         return isChild(dateOfBirth);//Check age between 4 and 12
                     case 'normal':
                         return isNormal(dateOfBirth);//Checks age between 12 and <60
                     case 'senior':
                         return isSenior(dateOfBirth);// Check age >59
                     case 'reduct':
                         return true;
                 }
             }
             
            /**
            * Returns true if it is a child
            * @param {string} dateOfBirth
            * @returns {Boolean}             
            */ 
            function isChild(dateOfBirth) {
                if (moment(visitDate, dateFormat).isBefore((moment(dateOfBirth).add(4, 'y')))){
                    displayWarningToast('{{'contactDetails.childBefore'|trans}}');
                    return false;
                }
                if (moment(visitDate,dateFormat).isAfter((moment(dateOfBirth).add(12, 'y')))){
                    displayWarningToast('{{'contactDetails.childAfter'|trans}}');
                    return false;
                }
                return true;
            }
            
            /**
            * Returns true if the date corresponds to an adult between 12 and 60 years old
            * @param {string} dateOfBirth
            * @returns {Boolean}             
            */
            function isNormal(dateOfBirth) {
                if (moment(visitDate, dateFormat).isAfter(moment(dateOfBirth).add(60, 'y'))){
                    displayWarningToast('{{'contactDetails.normalAfter'|trans}}');
                    return false;
                }
                if (moment(visitDate, dateFormat).isBefore(moment(dateOfBirth).add(12, 'y'))){
                    displayWarningToast('{{'contactDetails.normalBefore'|trans}}');
                    return false;
                }
                return true;
            }
            
            /**
            * Returns true if the date is an adult over 60 years of age
            * @param {string} dateOfBirth
            * @returns {Boolean}             
            */
            function isSenior(dateOfBirth){
                if (moment(visitDate, dateFormat).isBefore(moment(dateOfBirth).add(60, 'y'))){
                    displayWarningToast('{{'contactDetails.seniorBefore'|trans}}');
                    return false;
                }
                return true;
            }
            
            /**
             * @param {type} details
             * @returns {undefined}             
             */
            function submitForm(details) {
            //Variables are determined
                var tickets = [];
        
                $('#myForm .ticket').each(function(index){
                    tickets.push({
                        fareType : $(this).find('.active input').val(),
                        lastname : $(this).find('#lastname').val(),
                        firstname : $(this).find('#firstname').val(),
                        dateOfBirth : $(this).find('#dateOfBirth').val(),
                        country : $(this).find('#country').val(),
                        visitDate : '{{ app.session.get('visitDate')}}'
                        });
                });
             
                $.post(url_post_type,{
                    tickets
                }, function(response){
                    if (response.success){
                        document.location = url_recap;
                    } else {
                        //Display errors on tickets not validated by the controller
                        if (response.errors) {
                            response.errors.forEach(function(value){
                                var index = value[0];
                                var message = value[1];
                                $('#myForm .ticket').eq(index).find('.errorMessage').text(message).show();
                            });
                        }
                    }
                    });
               } 

            $(document).ready(function () {
                //If we click on the "Finalize your order" button
                $('#envoi').click (function (e) {
                    var errorForm = false;
                    //We check each ticket
                        $('#myForm .ticket').each(function(check){
                            //If one of the fields is empty: error message
                            if (!$(".form-check-input").val() || $("#lastname").val() === "" 
                                    || $("#firstname").val() === ""  || $("#dateOfBirth").val() === ""
                                    || $("#country").val() === ""){
                                displayWarningToast('{{'contactDetails.fields'|trans}}');
                                errorForm = true;
                            }
                            //If the age does not correspond to the chosen rate: the sending is blocked 
                            if (!checkAgeAndFare($(this).find('.active input').val(), $(this).find('#dateOfBirth').val())){
                               preventDefault();
                               errorForm = true;
                            }
                        });
                        if (!errorForm){
                        submitForm(true);
                        }
                });
            });
        </script>
    {% endblock %}
{% endblock %}

