{#src/APProjet4/BookingBundle/Resources/views/Booking/contactDetails.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}

{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="cold-lg-12">
                    <h1>{{'banner.title'|trans}}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block APProjet4Booking_body %}
    <nav>
        <ul class="progress-indicator">
            <li class="completed"><span class="bubble"></span><a href="#0">{{'nav.progress.step1'|trans}}</a></li>
            <li class="completed"><span class="bubble"></span><a href="#0">{{'nav.progress.step2'|trans}}</a></li>
            <li><span class="bubble"></span><a href="#0">{{'nav.progress.step3'|trans}}</a></li>
            <li><span class="bubble"></span><a href="#0">{{'nav.progress.step4'|trans}}</a></li>
        </ul>
    </nav>
    <div class="container form">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                {% if app.request.locale == 'fr' %}
                    <h2>{{event.title}}</h2>
                {% endif %}
                {% if app.request.locale == 'en' %}
                    <h2>{{event.titleEn}}</h2>
                {% endif %} 
                <p style="text-align:center; font-size: 18px;">{{'recap.visitDate'|trans}} : {{ app.session.get('visitDate')|date('d-m-Y')}} | 
                    {% if app.request.locale == 'fr' %}
                        {{booking.fullDay?'BILLET JOURNEE':'BILLET DEMI-JOURNEE'}}
                    {% endif %}
                    {% if app.request.locale == 'en' %}
                        {{booking.fullDay?'DAY TICKET':'HALF-DAY TICKET'}}
                    {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12" >
                {{include("APProjet4BookingBundle:Booking:form1.html.twig")}}
            </div>
        </div>
        <div class ="row">
            <div class="col-lg-12 col-md-12 col-xs-12 ">
                <button type="submit" id="envoi" class="button2">{{'contactDetails.submit'|trans}}</button>
            </div>
        </div>
        <hr>
        <div class ="row pull-left">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <a href="{{path('approjet4_booking_index')}}"><button class="btn draw-border">{{'button.backToHome'|trans}}</button></a>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script>//Affichage des tarifs journée ou demi-journée
            {{booking.fullDay?'$(".full").show();$(".half").hide();':'$(".full").hide();$(".half").show();'}}
        </script>
        <script>//Messages info
            $("#alert-target").click(function () {
            toastr["info"]("");
            });
        </script>
        <script>//Validation du formulaire
            
            var url_post_type = "{{path('approjet4_booking_postContactDetails')}}";
            var url_recap = "{{path('approjet4_booking_showRecap')}}";
            
            function submitForm(details) {
            //on détermine des variables
                var tickets = [];
        
                $('#myForm .ticket').each(function(index){
                    tickets.push({
                        fareType : $(this).find('.active input').val(),
                        fare : $(this).find('.fareLabel').val(),
                        lastname : $(this).find('#lastname').val(),
                        firstname : $(this).find('#firstname').val(),
                        dateOfBirth : $(this).find('#dateOfBirth').val(),
                        country : $(this).find('#country').val(),
                        visitDate : '{{ app.session.get('visitDate')}}'
                        });
                });
             
                $.post(url_post_type,{
                    tickets
                }, function(response){
                    if (response.success){
                        document.location = url_recap;
                    } else {
                        toastr.warning('Merci de renseigner tous les champs.', '', {positionClass: "toast-top-center"});
                    }
                    });
               } 
 
        
            $(document).ready(function (e) {
                if ($('#envoi').click(function () {
                    if (!$(".form-check-input").val() || !$("#lastname").val() || !$("#firstname").val() || !$("#dateOfBirth").val() || !$("#country").val()){
                    toastr.warning('Merci de renseigner tous les champs.', '', {positionClass: "toast-top-center"});
                } else {
                submitForm(true);
                };
                }));
            });
        </script>
        <script>
            function checkAgeAndFare(c){
             //Date du jour - date de naissance = age  
             //Si la date de naissance est comprise entre maintenant et - 4ans : gratuit
             //if dateOfBirth > now - 4ans{
             //true}
             //if dateOfBIrth > now - 12 ans {
             //true}
             //if dateOfBirth < now - 60 ans {
             //true}
             //else error
                var visitDate = {{ app.session.get('visitDate')|date('d-m-Y')}};
                var dateOfBirth = $(this).find('#dateOfBirth').val();
                var fareType = $(this).find('.active input').val();

                var difference = date_diff(visitDate, dateOfBirth);
                var age = difference->format('%y');

                if((fareType ==='child') & (age <'4')){
                    toastr.warning
                    ('L\'entrée au musée est gratuite pour les moins de 4 ans. Un billet n\'est pas nécessaire.','', 
                    {positionClass: "toast-top-center"});
                };
                if ((fareType === 'child') & (age >'11')){
                    toastr.warning
                    ('Attention ! Seuls les enfants de 4 à 11 ans peuvent bénéficier du tarif ENFANT.', '', 
                    {positionClass: "toast-top-center"});
                };
                if ((fareType === 'normal') & (age >'60')){
                    toastr.warning('A partir de 60 ans, le visiteur peut profiter du tarif SENIOR.','', 
                    {positionClass: "toast-top-center"});'
                };
                if ((fareType === 'normal') & (age< '12')){
                    toastr.warning('Pour les enfants de 4 à 11 ans, le tarif ENFANT s\'applique.'', 
                    {positionClass: "toast-top-center"});
                };
                if ((faretype === 'senior') & (age < '60')){
                    toastr.warning('Attention ! Le tarif sénior ne s\'applique qu\'à partir de 60 ans','', 
                    {positionClass: "toast-top-center"});'
                };
                if ((fareType === 'child') & (age > '4') & (age < '12')){

                }
         }
        </script>
    {% endblock %}
{% endblock %}

