{#src/APProjet4/BookingBundle/Resources/views/Booking/contactDetails.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}

{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="cold-lg-12">
                    <h1>{{'banner.title'|trans}}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block APProjet4Booking_body %}
    <nav>
        <ul class="progress-indicator">
            <li class="completed"><span class="bubble"></span><a href="#0">{{'nav.progress.step1'|trans}}</a></li>
            <li class="completed"><span class="bubble"></span><a href="#0">{{'nav.progress.step2'|trans}}</a></li>
            <li><span class="bubble"></span><a href="#0">{{'nav.progress.step3'|trans}}</a></li>
            <li><span class="bubble"></span><a href="#0">{{'nav.progress.step4'|trans}}</a></li>
        </ul>
    </nav>
    <div class="container form">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                {% if app.request.locale == 'fr' %}
                    <h2>{{event.title}}</h2>
                {% endif %}
                {% if app.request.locale == 'en' %}
                    <h2>{{event.titleEn}}</h2>
                {% endif %} 
                <p style="text-align:center; font-size: 18px;">{{'recap.visitDate'|trans}} : {{ app.session.get('visitDate')|date('d-m-Y')}} | 
                    {% if app.request.locale == 'fr' %}
                        {{booking.fullDay?'BILLET JOURNEE':'BILLET DEMI-JOURNEE'}}
                    {% endif %}
                    {% if app.request.locale == 'en' %}
                        {{booking.fullDay?'DAY TICKET':'HALF-DAY TICKET'}}
                    {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12" >
                {{include("APProjet4BookingBundle:Booking:DetailsForm.html.twig")}}
            </div>
        </div>
        <div class ="row">
            <div class="col-lg-12 col-md-12 col-xs-12 ">
                <button type="submit" id="envoi" class="button2">{{'contactDetails.submit'|trans}}</button>
            </div>
        </div>
        <hr>
        <div class ="row pull-left">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <a href="{{path('approjet4_booking_index')}}"><button class="btn draw-border">{{'button.backToHome'|trans}}</button></a>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script>//Affichage des tarifs journée ou demi-journée
            {{booking.fullDay?'$(".full").show();$(".half").hide();':'$(".full").hide();$(".half").show();'}}
        </script>
        <script>//Messages info
            $("#alert-target").click(function () {
            toastr["info"]("");
            });
        </script>
        <script>//Validation du formulaire
            
            var url_post_type = "{{path('approjet4_booking_postContactDetails')}}";
            var url_recap = "{{path('approjet4_booking_showRecap')}}";
            var visitDate = '{{ app.session.get('visitDate')}}';
            var dateFormat = "Y-M-D";
            

            $(document).ready(function (e) {
                //Si on clique sur le bouton "Finaliser votre commande"
                if ($('#envoi').click(function () {
                    //On vérifie chaque ticket
                        $('#myForm .ticket').each(function(check){
                            //Si un des champs est vide: message d'erreur
                            if (!$(".form-check-input").val() || !$("#lastname").val() 
                                    || !$("#firstname").val() || !$("#dateOfBirth").val() 
                                    || !$("#country").val()){
                                displayWarningToast('{{'contactDetails.fields'|trans}}');
                            }
                            if (!checkAgeAndFare($(this).find('.active input').val(), $(this).find('#dateOfBirth').val())){
                               preventDefault(); 
                            }
                        });
                        
                        submitForm(true);
                }));
            });
            
            function submitForm(details) {
            //on détermine des variables
                var tickets = [];
        
                $('#myForm .ticket').each(function(index){
                    tickets.push({
                        fareType : $(this).find('.active input').val(),
                        lastname : $(this).find('#lastname').val(),
                        firstname : $(this).find('#firstname').val(),
                        dateOfBirth : $(this).find('#dateOfBirth').val(),
                        country : $(this).find('#country').val(),
                        visitDate : '{{ app.session.get('visitDate')}}'
                        });
                });
             
                $.post(url_post_type,{
                    tickets
                }, function(response){
                    if (response.success){
                        document.location = url_recap;
                    } else {
                        displayWarningToast('{{'contactDetails.fields'|trans}}');
                    }
                    });
               } 
               
             function checkAgeAndFare(fareType, dateOfBirth){
             // on vérifie la correspondance entre le tarif choisi et la date de naissance
                 switch (fareType) {
                     case 'child': 
                         return isChild(dateOfBirth);//Verifie age entre 4 et 12
                     case 'normal':
                         return isNormal(dateOfBirth);//Vérifie age entre 12 et <60
                     case 'senior':
                         return isSenior(dateOfBirth);// Vérifie age >59
                 }
             }
             
            /**
            * Renvoie true si la date correspond à un enfant
            * @param {string} dateOfBirth
            * @returns {Boolean}             
            */ 
            function isChild(dateOfBirth) {
                if (moment(visitDate, dateFormat).isBefore((moment(dateOfBirth).add(4, 'y')))){
                    displayWarningToast('{{'contactDetails.childBefore'|trans}}');
                    return false;
                }
                if (moment(visitDate,dateFormat).isAfter((moment(dateOfBirth).add(12, 'y')))){
                    displayWarningToast('{{'contactDetails.childAfter'|trans}}');
                    return false;
                }
                return true;
            }
            
            function isNormal(dateOfBirth) {
                if (moment(visitDate, dateFormat).isAfter(moment(dateOfBirth).add(60, 'y'))){
                    displayWarningToast('{{'contactDetails.normalAfter'|trans}}');
                    return false;
                    
                }
                if (moment(visitDate, dateFormat).isBefore(moment(dateOfBirth).add(12, 'y'))){
                    displayWarningToast('{{'contactDetails.normalBefore'|trans}}');
                    return false;
                }
                return true;

            }

            function isSenior(dateOfBirth){
                if (moment(visitDate, dateFormat).isBefore(moment(dateOfBirth).add(60, 'y'))){
                    displayWarningToast('{{'contactDetails.seniorBefore'|trans}}');
                    return false;
                }
                return true;
            }
        </script>
    {% endblock %}
{% endblock %}

