{#src/APProjet4/BookingBundle/Resources/views/Booking/contactDetails.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}

{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{'banner.title'|trans}}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block APProjet4Booking_body %}
    <nav>
        <ul class="progress-indicator">
            <li class="completed"><span class="bubble"></span>{{'nav.progress.step1'|trans}}</li>
            <li class="completed"><span class="bubble"></span>{{'nav.progress.step2'|trans}}</li>
            <li><span class="bubble"></span>{{'nav.progress.step3'|trans}}</li>
            <li><span class="bubble"></span>{{'nav.progress.step4'|trans}}</li>
        </ul>
    </nav>
    <div class="container form">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                {% if app.request.locale == 'fr' %}
                    <h2>{{event.title}}</h2>
                {% endif %}
                {% if app.request.locale == 'en' %}
                    <h2>{{event.titleEn}}</h2>
                {% endif %} 
                <p style="text-align:center; font-size: 18px;">{{'recap.visitDate'|trans}} : {{ app.session.get('visitDate')|date('d-m-Y')}} | 
                    {% if app.request.locale == 'fr' %}
                        {{booking.fullDay?'BILLET JOURNEE':'BILLET DEMI-JOURNEE'}}
                    {% endif %}
                    {% if app.request.locale == 'en' %}
                        {{booking.fullDay?'DAY TICKET':'HALF-DAY TICKET'}}
                    {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12" >
                {% include("APProjet4BookingBundle:Booking:detailsForm.html.twig") %}
            </div>
        </div>
        <div class="legend hidden" >
            <p>
                {{'contactDetails.legend'|trans}}
            </p>
        </div>
        <div class ="row">
            <div class="col-lg-12 col-md-12 col-xs-12 ">
                <button type="submit" id="envoi" class="button2">{{'contactDetails.submit'|trans}}</button>
            </div>
        </div>

        <hr>


    </div>

    {% block javascript %}
        <script>//Display of day or half-day rates
            {#{{booking.fullDay?'$(".full").show();$(".half").hide();':'$(".full").hide();$(".half").show();'}}#}
        </script>
        <script>//Messages info
            $("#alert-target").click(function () {
                toastr["info"]("");
            });
        </script>
        <script>//Form validation

            var url_post_type = "{{path('approjet4_booking_postContactDetails')}}";
            var url_recap = "{{path('approjet4_booking_showRecap')}}";
            var visitDate = '{{ app.session.get('visitDate')}}';
            var dateFormat = "Y-M-D";

            $(document).ready(function () {
                $('#myForm').on('click', function () {
                    if ($('.option-input').is(':checked')) {
                        $('.legend').removeClass("hidden").fadeIn('slow');
                    } else {
                        $('.legend').addClass("hidden").fadeOut('slow');
                    }
                });
            });

            function checkDateOfBirth() {
                if ((moment($("#dateOfBirth").val()).isBefore('1905-01-01'))
                        || (moment($("#dateOfBirth").val()).isAfter(moment()))) {
                    return true;
                }
            }

            /**
             * @param {type} details
             * @returns {undefined}             
             */
            function submitForm(details) {
                //Variables are determined
                var tickets = [];

                $('#myForm .ticket').each(function () {
                    tickets.push({
                        fareType: $(this).find('#fareType').prop('checked')? 'reduct' : '',
                        lastname: $(this).find('#lastname').val(),
                        firstname: $(this).find('#firstname').val(),
                        dateOfBirth: $(this).find('#dateOfBirth').val(),
                        country: $(this).find('#country').val(),
                        visitDate: '{{ app.session.get('visitDate')}}'
                    });
                });

                $.post(url_post_type, {
                    tickets
                }, function (response) {
                    if (response.success) {
                        document.location = url_recap;
                    } else {
                        //Display errors on tickets not validated by the controller
                        if (response.errors) {
                            response.errors.forEach(function (value) {
                                var index = value[0];
                                var message = value[1];
                                $('#myForm .ticket').eq(index).find('.errorMessage').text(message).show();
                            });
                        }
                    }
                });
            }

            $(document).ready(function () {
                //If we click on the "Finalize your order" button
                $('#envoi').click(function () {
                    var errorForm = false;
                    //We check each ticket
                    $('.ticket').each(function () {
                        //If one of the fields is empty: error message
                        if ($("#lastname").val() === ""
                                || $("#firstname").val() === "" || $("#dateOfBirth").val() === ""
                                || $("#country").val() === "") {
                            displayWarningToast('{{'contactDetails.fields'|trans}}');
                            errorForm = true;
                        }
                        if (checkDateOfBirth()) {
                            displayWarningToast('{{'selectDate.container.birth'|trans}}');
                            preventDefault();
                            errorForm = true;
                        }
                        });
                        if (!errorForm) {
                            submitForm(true);
                        }
                });
            });
        </script>
    {% endblock %}
{% endblock %}

