{#src/APProjet4/BookingBundle/Resources/views/Booking/contactDetails.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}

{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{'banner.title'|trans}}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block APProjet4Booking_body %}
    <nav>
        <ul class="progress-indicator">
            <li class="completed"><span class="bubble"></span>{{'nav.progress.step1'|trans}}</li>
            <li class="completed"><span class="bubble"></span>{{'nav.progress.step2'|trans}}</li>
            <li><span class="bubble"></span>{{'nav.progress.step3'|trans}}</li>
            <li><span class="bubble"></span>{{'nav.progress.step4'|trans}}</li>
        </ul>
    </nav>
    <div class="container form">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                {% if app.request.locale == 'fr' %}
                    <h2>{{event.title}}</h2>
                {% endif %}
                {% if app.request.locale == 'en' %}
                    <h2>{{event.titleEn}}</h2>
                {% endif %} 
                <p style="text-align:center; font-size: 18px;">{{'recap.visitDate'|trans}} : {{ app.session.get('visitDate')|date('d-m-Y')}} | 
                    {% if app.request.locale == 'fr' %}
                        {{booking.fullDay?'BILLET JOURNEE':'BILLET DEMI-JOURNEE'}}
                    {% endif %}
                    {% if app.request.locale == 'en' %}
                        {{booking.fullDay?'DAY TICKET':'HALF-DAY TICKET'}}
                    {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12" >
                {% include("APProjet4BookingBundle:Booking:detailsForm.html.twig") %}
            </div>
        </div>
        <div class="legend hidden" >
            <p>
                {{'contactDetails.legend'|trans}}
            </p>
        </div>
        <div class ="row">
            <div class="col-lg-12 col-md-12 col-xs-12 ">
                <button type="submit" id="envoi" class="button2">{{'contactDetails.submit'|trans}}</button>
            </div>
        </div>

        <hr>


    </div>

    
{% endblock %}
{% block javascript %}
    <script src="{{asset('js/contactDetails.js')}}"></script>
{% endblock %}
