{#src/APProjet4/BookingBundle/Resources/views/Booking/index.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}


{% block APProjet4Booking_body %}
    
    {% for event in listEvents %}

        <div class="container"> 
            <div class="row">
                <div class="story-card--recirc">
                    <div class="story-card--recirc__media">
                        <div class="col-lg-12 col-md-12 col-xs-6 ">
                            <figure class="expo">
                                {% if event.image is not null %}
                                    <img src="{{ event.image.url }}" alt="{{ event.image.alt }}">
                                {% endif %}
                                <figcaption>
                                    <h3>{{'index.booking'|trans}}</h3>
                                </figcaption>
                                <a href="{{path('approjet4_booking_selectDate',{'id': event.id})}}"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="story-card--recirc__body">
                        <div class="col-lg-12 col-md-12 col-xs-6 ">
                            <a href="{{path('approjet4_booking_selectDate',{'id': event.id})}}">
                                {% if app.request.locale == 'fr' %}
                                    <h1>{{event.title}}</h1>
                                    <span>{{event.content}}</span>
                                {% endif %}
                                {% if app.request.locale == 'en' %}
                                    <h1>{{event.titleEn}}</h1>
                                    <span>{{event.contentEn}}</span>
                                {% endif %}
                                <br><br>
                                <button class="btn draw-border">{{'index.booking'|trans}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                            <br><br>
    {% endfor %}
{% endblock %}
