{#src/APProjet4/BookingBundle/Resources/views/Booking/payment.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}
{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{'confirmation.banner.title'|trans}}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block APProjet4Booking_body %}
<nav>
    <ul class="progress-indicator">
        <li class="completed"><span class="bubble"></span><a href="#0">{{'nav.progress.step1'|trans}}</a></li>
        <li class="completed"><span class="bubble"></span><a href="#0">{{'nav.progress.step2'|trans}}</a></li>
        <li class="completed"><span class="bubble"></span><a href="#0">{{'nav.progress.step3'|trans}}</a></li>
        <li class="completed"><span class="bubble"></span><a href="#0">{{'nav.progress.step4'|trans}}</a></li>
    </ul>
</nav>
<div class="container form">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12"><br><br>
                <h4>{{'confirmation.done'|trans}}</h4><br>
                {{'confirmation.thanks'|trans}}<br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10 infoMail">
                {{'confirmation.info1'|trans}}<br>
                - {{'confirmation.info2'|trans}}<br>
                - {{'confirmation.info3'|trans}}
            </div>
        </div>
        <hr>
        <div class="row">
            <h4>{{'confirmation.recap'|trans}}</h4><br>
            <div class="row">
                <div class="col-lg-offset-3 col-lg-3 col-md-offset-4 col-md-3  col-xs-offset-2 col-xs-5 recapTable">
                    <ul>
                        <li>{{'confirmation.bookingNumber'|trans}}</li>
                        <li>{{'confirmation.paymentDate'|trans}}</li>
                        <li>{{'confirmation.amount'|trans}}</li>
                        <li>{{'confirmation.paymentNumber'|trans}}</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-5 infoTable">
                    <ul>
                        <li>{{booking.orderCode}}</li>
                        <li>{{booking.orderDate|date('d/m/Y')}}</li>
                        <li>{{total}} €</li>
                        <li>{{stripeToken}}</li>
                    </ul>
                </div>
            </div>
            <p style="font-size: 12px;">({{'confirmation.keep'|trans}})</p>
            <br><br>
        </div>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 table-responsive">
                <caption>{#{{event.title}} - {{'confirmation.visite'|trans}} #}
                    {% if app.request.locale == 'fr' %}
                        {{event.title}} - 
                        {{booking.fullDay?'BILLET JOURNEE':'BILLET DEMI-JOURNEE'}}
                    {% endif %}
                    {% if app.request.locale == 'en' %}
                        {{event.titleEn}} - 
                        {{booking.fullDay?'DAY TICKET':'HALF-DAY TICKET'}}
                    {% endif %}
                    {{'confirmation.on'|trans}} 
                    {{visitDate|date('d/m/Y')}}</caption><br><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-right">{{'recap.lastname'|trans}}</th>
                            <th class="text-right">{{'recap.firstname'|trans}}</th>
                            <th class="text-right">{{'recap.dateOfBirth'|trans}}</th>
                            <th class="text-right">{{'recap.fareType'|trans}}</th>
                            <th class="text-right">{{'recap.ticketFare'|trans}}</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="text-right" colspan="4" id="totalBooking">{{'recap.totalBooking'|trans}}</th>
                            <th class="text-right"> {{total}} €</th>
                        </tr>
                    </tfoot>
                    {% for ticket in tickets %}
                    <tbody>
                        <tr>
                            <td class="text-right">{{ticket.lastname}}</td>
                            <td class="text-right">{{ticket.firstname}}</td>
                            <td class="text-right">{{ticket.dateOfBirth|date('d/m/Y')}}</td>
                            <td class="text-right">
                                {%if ticket.fareType == 'normal'%}
                                    {{'detailsForm.fare.full'|trans}}
                                {%elseif ticket.fareType == 'reduct' %}
                                    {{'detailsForm.fare.reduct'|trans}}
                                {%elseif ticket.fareType == 'child' %}
                                    {{'detailsForm.fare.child'|trans}}
                                {%elseif ticket.fareType == 'senior' %}
                                    {{'detailsForm.fare.senior'|trans}}
                                {%endif%}
                            </td>
                            <td class="text-right">
                                {% if ticket.fareType == 'normal' %}
                                    {{booking.fullDay?16:8}} €
                                {% elseif ticket.fareType == 'reduct' %}
                                    {{booking.fullDay?10:5}} €
                                {% elseif ticket.fareType == 'child' %}
                                    {{booking.fullDay?8:4}} €
                                {% elseif ticket.fareType == 'senior' %}
                                    {{booking.fullDay?12:6}} €
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <hr>
        <div class ="row pull-left">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <a href="{{path('approjet4_booking_index')}}"><button class="btn draw-border">{{'button.backToHome'|trans}}</button></a>
            </div>
            <br><br><br>
        </div>
            <br><br>
    </div> 
            <br><br><br><br>

{% endblock %}