{#src/APProjet4/BookingBundle/Resources/views/Booking/recap.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}

{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="cold-lg-12">
                    <h1>RECAPITULATIF</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block APProjet4Booking_body %}
    <nav>
        <ul class="progress-indicator">
            <li class="completed"><span class="bubble"></span><a href="#0">Réservation</a></li>
            <li class="completed"><span class="bubble"></span><a href="#0">Coordonnées</a></li>
            <li class="completed"><span class="bubble"></span><a href="#0">Paiement</a></li>
            <li><span class="bubble"></span><a href="#0">Confirmation</a></li>
        </ul>
    </nav>
    <div>
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('info') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>
    <div class="container form">
        <div class="row recap">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h2>{{event.title}}</h2> 
                <p style="text-align:center">Visite du : {{ app.session.get('visitDate')|date('d/m/Y')}} - 
                    <span id="fullDay">BILLET JOURNEE</span>
                    <span id="halfDay">BILLET DEMI-JOURNEE</span>
                </p>
                <hr>
            </div>
            <div class="row"> 
                <div class="col-lg-12">
                    <div class="col-lg-8 col-md-8 col-xs-8 recapticket" > {{ app.session.get('Booking').getTickets().count }} billet(s) PLEIN TARIF</div>
                    <div class="col-lg-4 col-md-4 col-xs-4 total1">16 €</div><br><br>
                    <div class="col-lg-8 col-md-8 col-xs-8 recapticket"> {{ app.session.get('Booking').getTickets().count }} billet(s) TARIF ENFANT</div>
                    <div class="col-lg-4 col-md-4 col-xs-4 total1">4 €</span></p></div>
                </div>
            </div>
            <div class="col-lg-12" id="total">
                TOTAL : 20 €
            </div>  
        </div>
        <br><br>
        <div class="col-lg-12">
            <p>Pour recevoir vos billets, merci de renseigner votre adresse e-mail. </p>
            <label class="input js-input">
                <input type="text" class="native js-native" 
                       placeholder="Adresse e-mail"
                       data-validation="length alphanumeric" 
                       data-validation-length="2-12" 
                       data-validation-error-msg="Merci de renseigner votre adresse e-mail"
                       id="email">
                <span class="label" data-label="Adresse email" aria-role="label">E-mail</span>
                <span class="message" data-label="Merci de renseigner votre adresse email" aria-role="label">E-mail</span>
            </label>
            <span id="helpEmail"></span>
        </div>
        <div class=" col-lg-12">
            <p>Confirmation de votre adresse e-mail.</p>
            <label class="input js-input">
                <input type="text" class="native js-native" 
                       placeholder="Confirmation e-mail"
                       data-validation="length alphanumeric" 
                       data-validation-length="2-12" 
                       data-validation-error-msg="Merci de renseigner votre adresse email"
                       id="verifyEmail">
                <span class="label" data-label="Confirmation e-mail" aria-role="label">Confirmation e-mail</span>
                <span class="message" data-label="Merci de renseigner votre adresse email" aria-role="label">Confirmation e-mail</span>
            </label>
            <span id="helpVerifyEmail"></span>
        </div>
        <div class ="row">
            <div class="col-lg-12 col-md-12 col-xs-12 ">
                {#<button type="submit" id="payment" class="button2">Régler votre commande</button>#}
                <form action="{{ path('approjet4_booking_payment') }}" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_iX9RsTXeebvywOXG1dBH3fOy"
            data-amount="2000"
            data-name="Stripe.com"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true">
        </script>
    </form>
            </div>
        </div><br>
    </div>

    {% block javascript %}
        <script>
           var url_payment = "{{path('approjet4_booking_payment')}}";
         $(document).ready(function () {
                $('#payment').click(function () { 
                    document.location = url_payment;
                });  
            });
        </script>
        <script>
                if ({{fullDay}} == true){
                $("#fullDay").show();
                $("#halfDay").hide();
                }
                if ({{fullDay}} == false){
                $("#fullDay").hide();
                $("#halfDay").show();
                }
        </script>
        <script>
        // Contrôle de l'email en fin de saisie
        document.getElementById("email").addEventListener("blur", function (e) {
            // Correspond à une chaîne de la forme xxx@yyy.zzz
            var regexEmail = /.+@.+\..+/;
            var validityEmail = "";
            if (!regexEmail.test(e.target.value)) {
                validityEmail = "Adresse invalide";
            }
            document.getElementById("helpEmail").textContent = validityEmail;
        });
            
        document.getElementById("verifyEmail").addEventListener("blur", function (e) {
            // Correspond à une chaîne de la forme xxx@yyy.zzz
            var regexEmail = /.+@.+\..+/;
            var validityEmail = "";
            if (!regexEmail.test(e.target.value)) {
                validityEmail = "Adresse invalide";
            }
            document.getElementById("helpVerifyEmail").textContent = validityEmail;
        });</script>
        
        
    {% endblock %}
{% endblock %}

