{#src/APProjet4/BookingBundle/Resources/views/Booking/selectDate.html.twig #}

{% extends "APProjet4BookingBundle::layout.html.twig" %}


{% block title_section %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="cold-lg-12">
                    <h1>BILLETTERIE</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block APProjet4Booking_body %}
    <nav>
        <ul class="progress-indicator">
            <li class="completed"><span class="bubble"></span><a href="#0">Réservation</a></li>
            <li><span class="bubble"></span><a href="#0">Coordonnées</a></li>
            <li><span class="bubble"></span><a href="#0">Paiement</a></li>
            <li><span class="bubble"></span><a href="#0">Confirmation</a></li>
        </ul>
    </nav>

    <div class="container form">
        <form>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 ">
                    <h2>{{event.title}}</h2>
                    <p style="text-align:center;">{{event.content}}</p>
                    <hr>
                </div>
            </div>
            <div class="row"> 
                <div class="col-lg-offset-1 col-lg-5 col-md-5 col-xs-12 ">
                    <div class="form_datetime">
                    <h4>1 - Choisissez une date : </h4><br>
                        {#<input type="text" id="mirror_field" value="" readonly />#}
                        <input style="align-content: center" id="pick_a_date" type="hidden" name="pick_a_date" value=false>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-5  col-md-5  col-xs-12">
                    <h4>2 - Choisissez votre type de billet </h4>
                    <a href="{{path('approjet4_booking_contactDetails')}}"><button onclick="submitData();" id="daySelect" type="text" class="button">Journée</button></a>
                    <a href="{{path('approjet4_booking_contactDetails')}}"><button onclick="submitData();" id="halfDaySelect" type="text" class="button">Demi-journée</button></a>
                </div>
            </div>


        </form>
        <div class ="row pull-left">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <br>
                <a href="{{path('approjet4_booking_index')}}"><button class="btn draw-border">Retour</button></a>
            </div>
        </div>
    </div> 


    {% block javascript %}
        <script>$.fn.datepicker.dates['fr'] = {
                days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
                daysMin: ["D", "L", "M", "M", "J", "V", "S"],
                months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre"],
                monthsShort: ["Jan", "Fev", "Mars", "Avr", "Mai", "Juin", "Juil", "Aout", "Sept", "Oct", "Nov", "Dec"],
                format: "dd/mm/yyyy",
                titleFormat: "MM yyyy",
                weekStart: 1,
                today: "Aujourd'hui"
            };

            $(".form_datetime").datepicker({
                format: "DD d MM yyyy",
                linkField: "mirror_field",
                linkFormat: "DDd-MM-yyyy",
                language: 'fr',
                todayBtn: "linked",
                daysOfWeekDisabled: [0, 2],
                datesDisabled: [
                    ("01/05/2018"),
                    ("01/11/2018"),
                    ("25/12/2018")],

                startDate: ("{{event.startDateReservable}}", new Date()),
                endDate: ("{{event.endDateReservable}}"),

                onSelect: function () {
                    var visitDate = $("#pick_a_date").datepicker("getDate");
                    console.log(visitDate);
                    $.ajax({
                        type: 'GET',
                        data: {pick_a_date: visitDate},
                        success: function () {
                            console.log("success");
                        }
                    });
                }
            });
        </script>

        {#<script>
        // Création d'une requête HTTP
    var req = new XMLHttpRequest();
    // Requête HTTP GET synchrone vers le fichier langages.txt publié localement
    req.open("GET", "http://http://localhost/Projet4/web/app_dev.php/purchase/2?pick_a_date=", false);
    // Envoi de la requête
    req.send(null);
    // Affiche la réponse reçue pour la requête
    console.log(req.responseText);
    </script>#}
    {% endblock %}
{% endblock %}

