<!DOCTYPE html>
<html>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Billetterie du Louvre{% endblock %}</title>

        {% block stylesheets %}
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{asset('css/booking.css')}}" type="text/css" />
            <link rel="stylesheet" href="{{asset('datepicker/css/bootstrap-datepicker3.min.css')}}">
            <link rel="stylesheet" href="{{asset('datepicker/css/custom.css')}}">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <script src="//code.jquery.com/jquery-1.12.4.js"></script>
            <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{asset('datepicker/js/bootstrap-datepicker.min.js')}}"></script>
            <script src="{{asset('datepicker/locales/bootstrap-datepicker.fr.min.js')}}" charset="UTF-8"></script>

        {% endblock %}
    {% endblock %}

    <body>
        {% block navbar %}
            <div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
                            <span class="glyphicon glyphicon-menu-hamburger" style="color:white;"></span>
                        </button>
                        <a class="navbar-brand" href="http://localhost/Projet4/web/app_dev.php/"><img src="{{asset('images/louvre_w.png')}}" alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navMain">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="#"><img src="{{asset('images/ticket_w.png')}}" alt="" class="ticket">&nbsp;&nbsp;&nbsp;Commande en cours : 0{#Nombre de tickets dans la commande#} billet(s)</a>  </li>
                            <li><a href="#" class="language"><img src="{{asset('images/flag24.png')}}" alt="english"</a></li> 
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block title_section %}
            <section class="banner">
                <div class="container">
                    <div class="row">
                        <div class="cold-lg-12">
                            <h1>EXPOSITIONS</h1>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}

        <div class="container">
            <div class="row" style="height:800px;">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        {% block APProjet4Booking_body %}
                        {% endblock %}
                        <hr>
                        <footer>Pictapica - Openclassrooms - {{'now'|date('Y')}}</footer>
                    </div>
                </div>
            </div>
        </div>          

        {% block javascripts %}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

            <script>$(window).scroll(function () {
                    if ($(this).scrollTop() > 50)  /*height in pixels when the navbar becomes non opaque*/
                    {
                        $('.opaque-navbar').addClass('opaque');
                    } else {
                        $('.opaque-navbar').removeClass('opaque');
                    }
                });</script>
            <script> $(".hover").mouseleave(
                        function () {
                            $(this).removeClass("hover");
                        }
                );</script>
            <script>
                
                $('#dateInfo').click(function () {
                    $('#dateInfoText').show();})
                
                $('#closeCross').click(function() {
                    $('#dateInfoText').hide();
                        $('#dateInfoSpace').show();
                });
               
            </script>
        {% endblock %}

    </body>

</html>